<script>
    $(".content-wrapper").css('min-height', $(window).height() - $('.main-footer').outerHeight());
</script>

<% content_for :tree_menu do %>
  <li class="active"><a href="<%= dashboard_admin_index_path%>"><i class="fa fa-circle-o"></i> Tickets</a></li>
  <li><a href="<%= credits_path%>"><i class="fa fa-circle-o"></i> Credits</a></li>
  <li><a href="<%= users_path%>"><i class="fa fa-circle-o"></i> Users</a></li>
<% end %>

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Assets
    <small>Tickets</small>
  </h1>
  <ol class="breadcrumb" style="top: 5px">
    <li class="active"><a href="<%= new_ticket_path%>" type="button" class="btn btn-primary" style="color: white">Create Ticket</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <table id="tickets" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>TicketId</th>
              <th>Status</th>
              <th>Title</th>
              <th>Type</th>
              <th>Value</th>
              <th>Owner</th>
              <th>DeadLine</th>
              <th>Comment</th>
              <th>Policy</th>
            </tr>
            </thead>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
</section>

<script type="text/javascript">
    $(function () {
        $('#tickets').DataTable( {
            ajax: {
                url: '/tickets.json',
                dataSrc: ''
            },
            columns: [
                { data: 'TicketId' },
                { data: 'Status' },
                { data: 'Title' },
                { data: 'Type' },
                { data: 'Value' },
                { data: 'Owner' },
                { data: 'DeadLine' },
                { data: 'Comment' },
                { data: 'Policy' }
            ]
        } );
    });
</script>