<script>
    $(".content-wrapper").css('min-height', $(window).height() - $('.main-footer').outerHeight());
</script>

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Assets
    <small>Users</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <table id="users" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>UserId</th>
              <th>Name</th>
              <th>LOB</th>
              <th>IsAdmin</th>
            </tr>
            </thead>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
</section>

<script type="text/javascript">
    $(function () {
        $('#users').DataTable( {
            ajax: {
                url: '/users.json',
                dataSrc: ''
            },
            columns: [
                { data: 'UserId' },
                { data: 'Name' },
                { data: 'LOB' },
                { data: 'IsAdmin' },
            ]
        } );
    });
</script>