<% content_for :tree_menu do %>
  <li class="active"><a href="<%= dashboard_admin_index_path%>"><i class="fa fa-circle-o"></i> Tickets</a></li>
  <li><a href="<%= credits_path%>"><i class="fa fa-circle-o"></i> Credits</a></li>
  <li><a href="<%= users_path%>"><i class="fa fa-circle-o"></i> Users</a></li>
<% end %>

<%= render 'form', ticket: @ticket %>
