<script>
    $(".content-wrapper").css('min-height', $(window).height() - $('.main-footer').outerHeight());
</script>

<% content_for :tree_menu do %>
  <li><a href="<%= dashboard_admin_index_path%>"><i class="fa fa-circle-o"></i> Tickets</a></li>
  <li class="active"><a href="<%= credits_path%>"><i class="fa fa-circle-o"></i> Credits</a></li>
  <li><a href="<%= users_path%>"><i class="fa fa-circle-o"></i> Users</a></li>
<% end %>

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Assets
    <small>Credits</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <table id="tickets" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>TicketId</th>
              <th>Value</th>
            </tr>
            </thead>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
</section>

<script type="text/javascript">
    $(function () {
        $('#tickets').DataTable( {
            ajax: {
                url: '/credits.json',
                dataSrc: ''
            },
            columns: [
                { data: 'TicketId' },
                { data: 'Value' },
            ]
        } );
    });
</script>